# alphacluster code
include MANIFEST.in
include pyproject.toml
include scripts/*.py
include alphacluster/*.cpp
include alphacluster/*.py
include alphacluster/*.pyx
include alphacluster/*.pxd
include alphacluster/data/rates.txt
include src/*.h
include src/*.cpp
include data/*.txt
include src/gzstream/gzstream.C
include src/gzstream/gzstream.h

# alphacluster tests
include tests/*.py
